Repository ula-aca/aries-cloudagent-interface-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "*.{md,scss,css,json,yml,yaml}": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  b1968cf1cc7c4f1cf303df5a0146f80f68c878d9
Due: none

docs(readme): update codeclimate badges
  README.md
Due: prettier --write

chore(vscode): update eslint autofix settings
  .vscode/settings.json
Due: prettier --write

chore(openapi): rename title of openapi schema
  resources/aca-py-openapi-schema.json
Due: prettier --write

test: update tests
  .eslintrc
  README.md
  tests/index.spec.ts
Due: eslint --fix, prettier --write

docs(readme): add dependabot badge
  README.md
Due: prettier --write

ci(github): only run ci action on push, not on pull_request
  .github/workflows/continuous_integration.yml
Due: prettier --write

docs(readme): add commitizen badge
  README.md
Due: prettier --write

docs: add extra badges to readme
  README.md
Due: prettier --write

build: added script to automate license headers
  .huskyrc
  package.json
  src/index.ts
  tests/index.spec.ts
  tests/setup.ts
  yarn.lock
Due: eslint --fix, prettier --write

build: addded dependabot config file
  .dependabot/config.yml
Due: prettier --write

fix: added and updated missing and incorrect types from generated api
  patches/api.patch
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  ec36bf62c8c86673c670ff344af0b0069ab0da85
Due: none

ci: renamed release comitter to correct github actions account
  .github/workflows/continuous_integration.yml
Due: prettier --write

chore: update all dependencies
  package.json
  yarn.lock
Due: prettier --write

build: removed 'git add' from lint staged jobs
  .lintstagedrc
Due: none

ci: changed publish registry to npm
  .github/workflows/continuous_integration.yml
Due: prettier --write

build: made publish config access public
  package.json
Due: prettier --write

docs: added @ula-aca prefix to all pacakge references
  README.md
Due: prettier --write

docs: added note about incorrect types to readme
  README.md
Due: prettier --write

chore: make max-header-length in commitlint a warning
  .commitlintrc.json
Due: prettier --write

chore(deps-dev): bump prettier from 1.19.1 to 2.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(dependabot): update dependabot config
  .dependabot/config.yml
Due: prettier --write

chore(update): update dependencies
  .commitlintrc.json
  openapitools.json
  package.json
  yarn.lock
Due: prettier --write

chore(update-schema): update aca-py schema to version 0.5.4
  patches/api.patch
  resources/aca-py-openapi-schema.json
Due: prettier --write
